Adhesive.Mongodb.Silverlight/Service References/Service/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adhesive.Mongodb.Silverlight.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adhesive.Mongodb.Silverlight.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Adhesive.Alarm.Common" />
  <xs:complexType name="OperationLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationLog" nillable="true" type="tns:OperationLog" />
  <xs:complexType name="GetAlarmItemsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adhesive.Alarm.Common" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfAlarmItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAlarmItemsResult" nillable="true" type="tns:GetAlarmItemsResult" />
</xs:schema>