Adhesive.Mongodb.Silverlight/Service References/Service/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adhesive.Mongodb.Silverlight.Web" />
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd3" namespace="Adhesive.Mongodb" />
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:60887/DataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Adhesive.Alarm.Common" />
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adhesive.Mongodb.Silverlight.Web" minOccurs="0" name="log" nillable="true" type="q1:OperationLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Adhesive.Mongodb" minOccurs="0" name="GetCategoryDataResult" nillable="true" type="q2:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServerInfoResult" nillable="true" type="q3:ArrayOfKeyValueOfMongodbServerUrlServerInfoCLLX5r_PU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailDataOnlyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailDataOnlyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="Adhesive.Mongodb" minOccurs="0" name="GetDetailDataOnlyByIdResult" nillable="true" type="q4:DetailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="Adhesive.Mongodb" minOccurs="0" name="GetAdminConfigurationResult" nillable="true" type="q5:MongodbAdminConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tableNames" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="Adhesive.Mongodb" minOccurs="0" name="GetFilterDataResult" nillable="true" type="q7:FilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tableNames" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filters" nillable="true" type="q9:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="Adhesive.Mongodb" minOccurs="0" name="GetTableDataResult" nillable="true" type="q10:ArrayOfTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDataByContextId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contextId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDataByContextIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="Adhesive.Mongodb" minOccurs="0" name="GetTableDataByContextIdResult" nillable="true" type="q11:ArrayOfTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tableNames" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="span" type="q13:duration" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filters" nillable="true" type="q14:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="Adhesive.Mongodb" minOccurs="0" name="GetStatisticsDataResult" nillable="true" type="q15:ArrayOfStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pkcolumnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="Adhesive.Mongodb" minOccurs="0" name="GetDetailDataResult" nillable="true" type="q16:DetailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tableNames" nillable="true" type="q17:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filters" nillable="true" type="q18:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="Adhesive.Mongodb" minOccurs="0" name="GetGroupDataResult" nillable="true" type="q19:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databasePrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filters" nillable="true" type="q20:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="Adhesive.Mongodb" minOccurs="0" name="GetStateDataResult" nillable="true" type="q21:DetailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Adhesive.Alarm.Common" minOccurs="0" name="status" type="q22:AlarmStatus" />
        <xs:element xmlns:q23="Adhesive.Mongodb" minOccurs="0" name="admin" nillable="true" type="q23:MongodbAdminConfigurationItem" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Adhesive.Mongodb.Silverlight.Web" minOccurs="0" name="GetAlarmItemsResult" nillable="true" type="q24:GetAlarmItemsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmProcessItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmProcessItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Adhesive.Alarm.Common" minOccurs="0" name="GetAlarmProcessItemResult" nillable="true" type="q25:ArrayOfAlarmProcessItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAlarmGroupResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmReceivers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmReceiversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="Adhesive.Mongodb" minOccurs="0" name="GetAlarmReceiversResult" nillable="true" type="q27:ArrayOfMongodbAdminConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userNames" nillable="true" type="q28:ArrayOfstring" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userNames" nillable="true" type="q29:ArrayOfstring" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleAlarmEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userRealName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleAlarmEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAlarmEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userRealName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAlarmEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>